//
// Override global variables
//

// Theme colors
$primary:       									#EB4D4B;
$primary-hover:    									#D63031;
$primary-light:    									#FF7675;
$primary-inverse:  									#FFFFFF;

$info:       									    #6993FF;
$info-light:    									#E1E9FF;
$info-hover:    									#4A7DFF;
$info-inverse:  									#FFFFFF;

$success:       									#3699FF;
$success-hover:    									#187DE4;
$success-light:    									#E1F0FF;
$success-inverse:  									#FFFFFF;
